body{
    background-color: #222222;
}

.to-do-list{
    list-style-type: none;
    color:black;
    padding-left: 0px;
    margin:0px;
}


.to-do-heading{
    color: white;
    text-align: center;
    background-color: #A61C3C;
    margin-bottom: 0px;
    padding:1rem;
}

.list-wrapper{
    background-color: #e8e8e8;
    width:360px;
    margin:auto;
}

.to-do-text{
    padding-left: 1rem;
    display:inline-block;
}
.to-do-input{
    padding-left:0.5rem;
    margin:0px;
    width:100%;
    height:40px;
    border: none;
    box-sizing: border-box;
}
.to-do-item{
    font-size: x-large;
    
}

.to-do-item:nth-child(even){
    list-style-type: none;
    background-color: #999999;
}
.to-do-item:nth-child(odd){
    list-style-type: none;
    background-color: #e8e8e8;
}
.completed{
    text-decoration: line-through;
}
.delete-button{
    text-align: center;
    display: inline-block;
    background-color:red;
    color:white;
    margin:0px;
    width:40px;
    transition:0.15s linear;
}