body{
    background-color: #222222;
}

.to-do-list{
    list-style-type: none;
    color:black;
    padding-left: 0px;
    margin:0px;
}


.to-do-heading{
    color: white;
    width:100%;
    margin:none;
    font-size: x-large;
    text-align: center;
    border:none;
    background-color: #A61C3C;
    padding:1rem;
    cursor:default;
}
.to-do-heading::placeholder{
    color: white;
    font-size: x-large;
    text-align: center;
    opacity:1;
}
.list-wrapper{
    background-color: #e8e8e8;
    width:100%;
    margin-top:1rem;
    padding:0px;
    display:inline-block;
}
.col{
    display:inline-block;
}
.row{
    width:100%;
    margin:auto;
}
.to-do-text{
    padding-left: 1rem;
    display:inline-block;
}
.to-do-input{
    padding-left:0.5rem;
    margin:0px;
    width:100%;
    height:40px;
    border: none;
    box-sizing: border-box;
}
.to-do-item{
    font-size: x-large;
    cursor:default;
}

.to-do-item:nth-child(even){
    list-style-type: none;
    background-color: #999999;
}
.to-do-item:nth-child(odd){
    list-style-type: none;
    background-color: #e8e8e8;
}
.completed{
    text-decoration: line-through;
}
.delete-button{
    text-align: center;
    display: inline-block;
    background-color:red;
    color:white;
    margin:0px;
    width:0px;
    transition:0.15s linear;
}

.add-list-button{
    margin:2rem;
    float: right;
}